---
import Globe from "./icons/Globe.astro"
import Triangle from "./icons/Triangle.astro"
---
<section class="text-acorddionColor my-20">
   <div class="flex flex-col justify-center items-center gap-5">
    <article>
        <div class="flex mb-8 items-center">
            <Globe />
            <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-acorddionColor text-md focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center letterSpacing" type="button"> ESPAÑOL </button>
            <Triangle />  
        </div>
    </article>
    <article class="flex flex-col gap-5">
        <div class="flex gap-10 text-xs letterSpacing footerItem footerItem1">
            <div class="cursor-pointer"><p>EXPLORA NUESTRO CONTENIDO</p></div>
            <div class="cursor-pointer"><p>PARA TODA LA FAMILIA</p></div>
            <div class="cursor-pointer"><p>PROGRAMA DE AFILIADOS</p></div>
            <div class="cursor-pointer"><p>HBO MAX TV INICIAR SESIÓN</p></div>
        </div>
        <div class="flex gap-10 text-xs justify-center letterSpacing footerItem footerItem1">
            <div class="cursor-pointer"><p>TRUE DETECTIVE: NOCHE POLAR</p></div>
            <div class="cursor-pointer"><p>BARBIE</p></div>
            <div class="cursor-pointer"><p>SUCCESSION</p></div>
            <div class="cursor-pointer"><p>FRIENDS</p></div>
            <div class="cursor-pointer"><p>JUEGO DE TRONOS</p></div>
        </div>
    </article>
    <article class="flex flex-col fontWeight gap-4 opacity-60 footerItem footerMini">
        <div class="flex gap-5 text-xs footerItem1">
            <div class="cursor-pointer"><p>Política de privacidad</p></div>
            <div class="cursor-pointer"><p>Gestionar preferencias</p></div>
            <div class="cursor-pointer"><p>Condiciones de uso</p></div>
            <div class="cursor-pointer"><p>Centro de ayuda</p></div>
            <div class="cursor-pointer"><p>Información corporativa</p></div>
        </div>
        <div class="text-xs text-center">
            <div><p>©2024 HBO Nordic AB. All Rights Reserved. HBO Max™ is used under license.</p></div>
        </div>
    </article>
    

    
    <!-- Dropdown menu -->
    <div id="dropdown" class="z-10 hidden bg-black bg-opacity-80 divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-md text-white dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-acorddionColor dark:hover:bg-gray-600 dark:hover:text-white">ESPAÑOL</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-acorddionColor dark:hover:bg-gray-600 dark:hover:text-white">ENGLISH</a>
          </li>
        </ul>
    </div>
    
  </div>  
</section>

<style>
    section {
        font-family: 'Poppins', sans-serif;
    }
    .letterSpacing {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .fontWeight {
        font-weight: 400;
    }
    @media (max-width:768px) {
        .footerItem{
            padding: 0px 20px;
            gap: 25px;
            text-align: center;
        }
        .footerMini {
            gap: 25px;
        }
    }
    @media (max-width:500px) {
        .footerItem1{
            flex-direction: column;
            

        }

    }
</style>
