---
import Navigation from "../components/Navigation.astro";
---
<Navigation />
<header>
  <section class="flex flex-col h-auto justify-left bg-[url('./public/aquamanhero2.avif')] md:bg-[url('./public/aquamanhero.avif')]">
  
  <div class="grid mt-20 grid-cols-2 w-full px-2 self-center justify-center items-center text-white z-10 relative  heroGrid">
    <div class="flex justify-center mt-8 gridItem1"><img src="/hbo-max-h-w-l.svg" class="w-48 h-8" /></div>
    <div></div>
    <div class="flex justify-center items-center text-center">
      <div class="w-96 my-2 heroText">
        <h1>En HBO Max encontrarás películas icónicas, series premiadas y mucho más.</h1>
      </div>
    </div>
    <div></div>
    <div>
      <div class="text-center p-2">
        <h3>9,99 €<small>/mes</small></h3>
        <h4 class="mt-2">Cancela en cualquier momento.</h4>
      </div>
    </div>
    <div></div>
    <div class="flex justify-center items-center p-2 gridItem3">
      <button class="text-white text-l bg-btnBackground rounded-full w-72 h-11  hover:bg-white hover:text-black transition-all duration-500">SUSCRÍBETE YA</button>
    </div>
    <div>
      
    </div>
    <div></div>
    <div class="flex justify-center items-center aquaBox relative pr-96 aquamanLogo gridItem4">
      <img src="aquaman.avif" class="w-52 aquaMini">
    </div>
  </div>
 </section>  
</header>

<style>
  	body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    }
    button {
        font-family: 'Poppins', sans-serif;
        letter-spacing: 2px;
    }
    section {
        height: 600px;
        background-size: auto 600px;
        background-position: calc(50% + 120px) center;
        background-repeat: no-repeat;
        background-color: #000000;
        z-index: 1;
    }
    section::before {
        background-image: linear-gradient(90deg, #000000 30%, #00000000 40%);
        content: "";
        height: 600px;
        position: absolute;
        width: 100%;
        z-index: 0;
    }
    section::after{
      background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .6) 8%, rgba(0, 0, 0, 0) 30%);
      content: "";
      height: 600px;
      position: absolute;
      width: 100%;
      z-index: 0;
    }
    h1{
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      letter-spacing: 0px;
      font-size: 21px;
    }
    h3{
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      letter-spacing: 0px;
      font-size: 25px;

    }
    h4{
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      letter-spacing: 0px;
      font-size: 14px;
    }
    small{
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    margin: 0.3rem auto;
    vertical-align: super;
    font-weight: normal;
    }
    .aquaMini{
    max-width: 200px;
    }
    .aquaBox::after{
    content: "© & TM DC © 2024 WBEI";
    font-size: .6rem;
    color: #bbbbbbd3;
    line-height: normal;
    letter-spacing: 0;
    display: block;
    position: absolute;
    padding: 0.3rem 0rem;
    bottom: -25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    @media (max-width:1500px) {
      .aquamanLogo{
        padding-right: 70px;
      }
    }
    @media (max-width:900px){
      section{
        background-position: calc(70% + 120px) center;
      }

    }
    @media (max-width:768px) {
      section{
        background-position: center top !important;
        background-size: 100%;
        height: 900px;
        
      }
      section::before{
        display: none;
      }
      section::after{
        display: none;
      }
      .aquaBox::after{
        padding-bottom: 15px;
      }
      .heroGrid {
        height: auto;
        margin: 0;
        padding-top: 65vw;
        gap: 5px;

        display: grid;
        grid-template-columns: 1fr;
      }
      .aquamanLogo {
        padding-right: 0px;
      }
      .aquaMini{
        max-width: 500px;
        width: 300px;
      }
      .gridItem1{
        display: none;
        
      }
      .gridItem4{
        order: -1;
        
      }
      .heroText{
        width: 90%;
      }

    }  


    
</style>
