<nav class="px-4 py-2 flex gap-32 justify-between z-50 sticky top-0" >
    <div class="flex gap-5">
      <div class="flex justify-center items-center">
        <img src="/hbo-max-h-w-l.svg" class="w-40 h-7" />
      </div>
      <div class="flex justify-center items-center">
      <ul class="text-white text-xs flex justify-center items-center gap-8 p-2 cursor-pointer">
        <li>IMPRESCINDIBLES</li>
        <li>PELÍCULAS</li>
        <li>SERIES</li>
        <li>FAMILIA</li>
        <li>PREGUNTAS FRECUENTES</li>
        <li>PRECIOS</li>
      </ul>
      </div>
    </div>
    <div class="flex gap-6">
      <button class="text-white text-xs">INICIA SESIÓN</button>
      <button class="text-white text-xs bg-btnBackground rounded-full w-44 h-9 hover:bg-white hover:text-black transition-all duration-500">SUSCRÍBETE YA</button>
    </div>
  </nav>

  <style>
        nav {
        background-color: rgba(0, 0, 0, 0.726);
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        letter-spacing: 2px;
        backdrop-filter: blur(10px);
        }
        button {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        letter-spacing: 2px;
        }
  </style>