<section class="flex flex-col" style="background-image: url(kids-bg.avif)">
    <div class="max-w-7xl m-auto p-4 md:py-12 md:px-12">
      <article class="flex flex-col text-white justify-center items-center">
        <div class="flex flex-col justify-center w-5/6 items-center p-5">
          <div class="text-5xl text-center">
            <h2>Streaming para toda la familia</h2>
          </div>
          <div class="mt-4 pr-2 text-xl text-center">
            <p>
                Crea perfiles infantiles, establece controles parentales y elige entre niveles de clasificación. Encuentra nuevas favoritas buscando por personajes y filtros de edad.
            </p>
          </div>
        </div>
      </article>
      <article class="grid grid-cols-5 gap-4 items-end">
        <div><img src="gumball.avif" /></div>
        <div><img src="batman.avif" /></div>
        <div><img src="bugsbunny.avif"/></div>
        <div><img src="scoobydoo.avif" /></div>
        <div><img src="supernenas.avif"/></div>
      </article>
    </div>
  </section>
  
  <style>
    section {
      background-position: center;
      background-size: cover;
    }
    h2 {
      font-family: "Poppins", sans-serif;
      letter-spacing: 0px;
      font-weight: 500;
    }
    p {
      font-family: "Poppins", sans-serif;
      letter-spacing: 0px;
      font-weight: 400;
    }
    :root {
      --max-clr-violet-rgb: 255, 0, 205;
      --max-clr-dark-violet-rgb: 100, 0, 163;
    }
  </style>
  