<section class="gap-6 flex" style="background-image: url(gradient3.webp)">
<div class="container text-acorddionColor  m-auto w-96">
    <h2 class="text-5xl text-white text-center my-4">Lo que todo el mundo se pregunta sobre HBO Max</h2>
    <div class="accordion">
      <div class="accordion-item">
        <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">¿Qué es HBO Max?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
          <p class="text-white">HBO Max es una experiencia de streaming espectacular que te trae las mejores historias de Warner Bros., HBO, Max, DC, Cartoon Network y mucho más, juntos por primera vez.</p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">¿Cómo puedo recibir ayuda si tengo algún problema?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
          <p class="text-white">Si tienes algún problema al suscribirte o al acceder a HBO Max, encontrarás ayuda en nuestro <span class="text-acorddionColor hover:text-white">Centro de Ayuda</span>. ¡Estarás viendo HBO Max antes de que las palomitas estén listas!</p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">¿HBO Max es adecuado para toda la familia?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
          <p>Con los perfiles de los niños y los controles parentales personalizados, las familias pueden reír y aprender con personajes como Bugs Bunny, Peppa Pig, Harry Potter y más.</p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">¿Cuánto cuesta HBO Max?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
          <p>HBO Max tiene un precio mensual de 9,99 €. Puedes ahorrar un 41 % si pagas el precio anual de 69,99 € por adelantado..</p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">¿Puedo modificar o cancelar mi suscripción?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
          <p>¡Sí! Puedes <span class="text-acorddionColor hover:text-white">pasar de la suscripción mensual a la anual y viceversa.</span> También puedes cancelar tu suscripción en cualquier momento.</p>
        </div>
              <div class="accordion-item">
        <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">¿En qué dispositivos puedo reproducir HBO Max?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
          <p>Puedes reproducir HBO Max en iPhone y iPad, móviles y tablets Android, Apple TV, Android TV, Chromecast, Samsung TV, LG, Chrome OS, MacOS, Windows PC, PS5, PS4, Xbox Series X|S, y Xbox One. Y más dispositivos en el futuro.</p>
        </div>
        <div class="accordion-item">
        <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">¿Qué pasa si tenía HBO España o ya tengo HBO Max a través de Vodafone?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
              <p>HBO Max está disponible también para suscribirse a través de Vodafone. Si ya disfrutabas de HBO España con Vodafone, tienes acceso a HBO Max utilizando tus mismas credenciales.
                Si eres cliente de Vodafone y aún no estás suscrito a HBO Max, es necesario tener o contratar un pack de Vodafone TV que incluya HBO Max, y después activar tu suscripción a HBO Max en vodafone.es/entretenimiento.
                Para más información de Vodafone entra en www.vodafone.es/hbo-max
              </p>
         </div>
        <div class="accordion-item">
                <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">¿Cómo inicio sesión en HBO Max?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
                  <p>Si te has suscrito a través de la app de HBO Max o HBOMax.com, puedes iniciar sesión con tu email y contraseña.</p>
            </div>   
        <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">¿Cuáles son los títulos más populares de HBO Max en España?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
              <p>Nuestros títulos más vistos son <span class="text-acorddionColor hover:text-white">True Detective: Noche polar</span>, <span class="text-acorddionColor hover:text-white">Barbie</span>, <span class="text-acorddionColor hover:text-white">Succession</span>, <span class="text-acorddionColor hover:text-white">Friends</span> y <span class="text-acorddionColor hover:text-white">Juego de Tronos</span>.</p>
            </div>    
      </div>
    </div>
  </div>
 <div class="flex justify-center items-center mt-10">
    <h2 class="text-white text-4xl">Hubs de HBO Max</h2>
 </div>
 <div>
    <div class="grid grid-cols-5 justify-center items-center gap-5 mt-10 pb-10">
      <div><img src="hbo.webp"></div>
      <div><img src="maxoriginals.webp"></div>
      <div><img src="wb.webp"></div>
      <div><img src="dc.webp"></div>
      <div><img src="cartoonnetwork.webp"></div>
      <div></div>
      <div><img src="looneytoons.avif"></div>
      <div><img src="scoobydoofriends.webp"></div>
      <div><img src="cartoonito.webp"></div>
    </div>
</div>
</section>
<!-- ACCORDION STYLES  -->
<style>
body{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
}
h2{
    letter-spacing: 0px;
    font-weight: 400;
}
p{
    color: white;
}


.container {
  margin: 0 auto;
  padding-top: 48px;
  width: 50%;
}

.accordion .accordion-item button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid gray;
}

.accordion .accordion-item button:hover,
.accordion .accordion-item button:focus {
  cursor: pointer;
  border-bottom: 1px solid gray;
}

.accordion .accordion-item button:hover .icon::after,
.accordion .accordion-item button:focus .icon::after {
  cursor: pointer;
 
}

.accordion .accordion-item button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion .accordion-item button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border-radius: 22px;
}

.accordion .accordion-item button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion .accordion-item button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion .accordion-item button[aria-expanded="true"] {
  color: #9e86ff;
}

.accordion .accordion-item button[aria-expanded="true"] .icon::after {
  width: 0;
}

.accordion .accordion-item button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}


</style>

<script>
const items: NodeListOf<HTMLButtonElement> = document.querySelectorAll('.accordion button');

function toggleAccordion(button: HTMLButtonElement) {
  const itemToggle = button.getAttribute('aria-expanded');

  for (let i = 0; i < items.length; i++) {
    items[i].setAttribute('aria-expanded', 'false');
  }

  if (itemToggle == 'false') {
    button.setAttribute('aria-expanded', 'true');
  }
}

items.forEach(item => item.addEventListener('click', function() {
  toggleAccordion(this);
}));
</script>
